新建文件夹/
model/
output/
PJSK-MultiGUI_*.rar
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

monotonic_align/build/
monotonic_align/*.c
monotonic_align/*.cpp
monotonic_align/*.egg-info/
monotonic_align/__pycache__/

*.log
logs/

playSounds/
results/

venv/
env/
.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db

dist/
build/
text.rar
/monotonic_align/build
